* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header */
header {
  background: rgba(255, 144, 14, 0.1);
  margin-bottom: 115px;
  padding: 10px;
}
.primary_button {
  background-color: #ff900e;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  border-radius: 7px;
  border: none;
  margin-top: 2em;
}

/* nav */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 34px;
  margin-bottom: 105px;
}
nav h1 {
  font-size: 45px;
  font-weight: 700;
}
nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin: 20px;
  color: #424242;
}
/* header title */
.header-menu {
  text-align: center;
  margin-bottom: 40px;
}
.header-title h1 {
  font-size: 64px;
  font-weight: 700;
  color: #131313;
}
.header-title {
  margin-bottom: 20px;
}
.header-description p {
  line-height: 26px;
}

/* banner */
.banner{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.banner img{
    width: 90%;
}



/* feature */
.feature{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 130px;
}
.feature_gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 24px;
}
.feature-title{
    margin-bottom: 24px;
}
.feature-title h1{
font-size: 45px;
font-weight: 700;
}
.feature-description p{
font-size: 16px;
color: #727272;
line-height: 26px;
}
/* experiences */
.experience{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 105px;
}
.experience-title h1{
    font-weight: 700;
    font-size: 45px;
    padding-left: .5em;
}
.experience-title{
    margin-bottom: 24px;
}
.experience-dsc, .card p {
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    color: #727272;
}
.experience-dsc{
    margin-bottom: 24px;
}
.card h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.card{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    
    padding: 43px 40px;
    margin-bottom: 20px;
}

.experience p{
    font-size:16px;
    font-weight: 500;
}
.experience-status{
    border-radius: 5px;
    width: 342px;
    height:200px;
    background:#ff900e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    top:calc(-10%);
    right: calc(15%)
}
.experience-status h1{
    color:#fff;
    font-size:65px ;
}
.experience-status p{
    font-size: 23px;
    color:#FFF;
    
}
.developer img{
    width:100%
}

/* facts */
.facts{
  margin-bottom: 200px;
}
.facts-content h1{
font-weight: 700;
font-size: 45px;
margin-bottom: 20px;
}
.facts-content p{
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
.facts-content{
  margin-left: 10em;
  margin-bottom: 5em;
}.fact-icons{
  display: flex;
  justify-content: space-evenly;
}
.icon{
  text-align: center;
  box-shadow: #FF900E 0px 0px 0px 2px;
  padding: 35px 54px;
  border-radius: 7px;
}
.icon img{
  width:45px;
  margin-bottom: 10px;
}
.icon h1{
  margin-bottom: 10px;
  font-size: 45px;
  font-weight: 600;
}
.icon h4{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color:#727272;
}
.title_dsc{
  text-align: center;
  margin-bottom:50px;
}
.title_dsc h1{
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}
.title_dsc p{
  line-height: 26px;
  font-size: 16px;
  font-weight: normal;
}

.sponsors{
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main{
  margin-bottom: 105px;
}
footer p{
  background:rgba(255, 144, 14, 0.1);
  padding: 30px;
  text-align: center;
  color:#424242;
  font-size: 16px;
  font-weight: 400;
}
footer{
  width: 80%;
  margin: 10px auto;
}
/* responsive for mobile devices*/
@media screen and (max-width: 576px) {
  header nav {
    flex-direction: column;
  }
  .menu a {
    margin-left: 5px;
  }
  .menu {
    margin-top: 10px;
  }
  .header-menu h1{
    font-size: 45px;
  }
  .header-description p{
    font-size: 16px;
  }
   .feature{
    flex-direction: column;
    gap: 30px;
}.feature_descriptions{
    text-align: center;
}
   .feature_gallery{
    grid-template-columns: repeat(1,1fr);
   }
  .experience{
    flex-direction: column;
    text-align: center;
    padding:10px;
  }
  .experience-status{
    position: relative;
    left: 4px;
    bottom: 50px;
    margin-bottom: 5px;
  }
  .facts-content{
    text-align: center;
    margin-left: 0;
  }.fact-icons{
    flex-direction: column;
  }.icon{
    margin: 10px;
  }.sponsors{
    flex-direction: column;
  }.sponsors div{
  padding: 15px;
}
}


