* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header */
header {
  background: rgba(255, 144, 14, 0.1);
  margin-bottom: 115px;
  padding: 10px;
}
.primary_button {
  background-color: #ff900e;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  border-radius: 7px;
  border: none;
  margin-top: 2em;
}

/* nav */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 34px;
  margin-bottom: 105px;
}
nav h1 {
  font-size: 45px;
  font-weight: 700;
}
nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin: 20px;
  color: #424242;
  transition: background-color 0.5s ease-in-out;
}
nav a:hover {
  background-color: #827862bc;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}
/* header title */
.header-menu {
  text-align: center;
  margin-bottom: 70px;
}
.header-title h1 {
  font-size: 64px;
  font-weight: 700;
  color: #131313;
}
.header-title {
  margin-bottom: 20px;
}
.header-description p {
  line-height: 26px;
}

/* banner */
.banner{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.banner img{
    width: 90%;
}



/* feature */
.feature{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 130px;
}
.feature_gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 24px;
     
}

.feature-title{
    margin-bottom: 24px;
}
.feature-title h1{
font-size: 45px;
font-weight: 700;
}
.feature-description p{
font-size: 16px;
color: #727272;
line-height: 26px;
}
/* experiences */
.experience{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 105px;
   
    gap: 180px;
}
.experience-title h1{
    font-weight: 700;
    font-size: 45px;
    padding-left: .5em;
}
.experience-title{
    margin-bottom: 24px;
}
.experience-dsc, .card p {
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    color: #727272;
}
.experience-dsc{
    margin-bottom: 24px;
}
.card h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.card{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    padding: 43px 40px;
    margin-bottom: 20px;
}

.experience p{
    font-size:16px;
    font-weight: 500;
}
.experience-status{
    border-radius: 5px;
    width: 342px;
    height:200px;
    background:#ff900e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    top:calc(-10%);
    right: calc(15%)
}
.experience-status h1{
    color:#fff;
    font-size:65px ;
}
.experience-status p{
    font-size: 23px;
    color:#FFF;
    
}
.developer img{
    width:100%
}

/* facts */
.facts{
  margin-bottom: 200px;
}
.facts-content h1{
font-weight: 700;
font-size: 45px;
margin-bottom: 20px;
}
.facts-content p{
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
.facts-content{
  margin-left: 10em;
  margin-bottom: 5em;
}.fact-icons{
  display: flex;
  justify-content: space-evenly;
}
.icon{
  text-align: center;
  box-shadow: #FF900E 0px 0px 0px 2px;
  padding: 35px 54px;
  border-radius: 7px;
}
.icon img{
  width:45px;
  margin-bottom: 10px;
}
.icon h1{
  margin-bottom: 10px;
  font-size: 45px;
  font-weight: 600;
}
.icon h4{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color:#727272;
}
.title_dsc{
  text-align: center;
  margin-bottom:50px;
}
.title_dsc h1{
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}
.title_dsc p{
  line-height: 26px;
  font-size: 16px;
  font-weight: normal;
}

.sponsors{
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 105px;
}
main{
  margin-bottom: 105px;
}
footer p{
  background:rgba(255, 144, 14, 0.1);
  padding: 30px;
  text-align: center;
  color:#424242;
  font-size: 16px;
  font-weight: 400;
}
footer{
  width: 80%;
  margin: 10px auto;
}
/* animation */
.contact-animation,input[type="submit"]{
  animation: beat 0.75s infinite alternate;
	transform-origin: center;
}
button,.experience-status {
	font-size: 130px;
	color: #e00;
	animation: beat 0.75s infinite alternate;
	transform-origin: center;
}
@keyframes beat{
	to { transform: scale(1.2); }
}

.card{
    transition: transform 0.5s ease-in-out;
}
.card:hover{
    transform: translateY(-10px);

}.icon{
  transition: transform 0.5s ease-in-out;
}
.icon:hover{
    transform: scale(1.05);

}
.icon img{
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.icon:hover img {
  transform: scale(1.2);
}.banner:hover img {
  transform: scale(1.1);
}

/* conatct */
.contact{
  display: flex;
  justify-content: center;
  gap:150px;
  align-content: center;
  padding:85px;
  border-radius: 10px;
 
  margin: 10px auto;
  width: 80%;
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
   margin-bottom: 20px;
 
    

}
#_name, #email,#message{
  width: 600px;
  margin-bottom: 10px;
  padding:20px;
  border: none;
  border-bottom: 2px solid #0052FF;
}#message{
  height:90px;
  
}

.contact-content h4{
  font-size:20px;
  font-weight: 600;
  color:#E7B690;
  margin-bottom: 20px;
}
.contact-title{
  font-size:45px;
  margin-bottom: 40px;
  font-weight: 400;
}
.contact-content p{
  font-size:16px;
  margin-bottom: 20px;
}
.fa-brands {
  padding: 20px;
  background:#0052FF;
  color:#fff;
  display: block;
  border-radius: 70%;
}.follow{
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 45px;
}


/* media queries */
@media screen and (max-width: 576px) {
  header nav {
    flex-direction: column;
  }
  #_name, #email,#message{
    width: 100%;
    padding-left: 30px;
  }
  .fa-brands{
    padding:15px;
  }
  .contact{
    flex-direction: column;
    width: 50%;
  }
  .contact h1{
    font-size:35px;
  }
  .menu a {
    margin-left: 5px;
  }
  .menu {
    margin-top: 10px;
  }
  .header-menu h1{
    font-size: 45px;
  }
  .header-description p{
    font-size: 16px;
  }
   .feature{
    flex-direction: column;
    gap: 30px;
}.feature_descriptions{
    text-align: center;
}
   .feature_gallery{
    grid-template-columns: repeat(1,1fr);
   }
  .experience{
    flex-direction: column;
    text-align: center;
    padding:10px;
    margin: 0;
  }
  .experience-status{
    position: relative;
    left: 4px;
    bottom: 50px;
    margin-bottom: 5px;
  }.card p{
    text-align: left;
  }
  .facts-content{
    text-align: center;
    margin-left: 0;
  }.fact-icons{
    flex-direction: column;
  }.icon{
    margin: 10px;
  }.sponsors{
    flex-direction: column;
  }.sponsors div{
  padding: 15px;
}
}




