* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header */
header {
  background: rgba(255, 144, 14, 0.1);
  margin-bottom: 30px;
  padding: 10px;
}
.primary_button {
  background-color: #ff900e;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  border-radius: 7px;
  border: none;
  margin-top: 2em;
}

/* nav */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 34px;
  margin-bottom: 105px;
}
nav h1 {
  font-size: 45px;
  font-weight: 700;
}
nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin: 20px;
  color: #424242;
}
/* header title */
.header-menu {
  text-align: center;
  margin-bottom: 40px;
}
.header-title h1 {
  font-size: 64px;
  font-weight: 700;
  color: #131313;
}
.header-title {
  margin-bottom: 20px;
}
.header-description p {
  line-height: 26px;
}

/* banner */
.banner{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.banner img{
    width: 90%;
}


@media screen and (max-width: 576px) {
  header nav {
    flex-direction: column;
  }
  .menu a {
    margin-left: 5px;
  }
  .menu {
    margin-top: 10px;
  }
  .header-menu h1{
    font-size: 45px;
  }
  
}
